<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Update Product</title>
	</head>
	
	<body>
	<nav th:replace="/admin/adminfragments::navigation">navigation</nav>
		<div class="container">
			<div class ="header">
				<h1> Update Product </h1>
			</div>
			
			<div class="userData">
				<form action="#" th:action="@{/admin/selectProductUpdate}" th:object="${product}" method="post">
					<label th:text="Products"></label>
					<select th:field = "*{prod_id}">
						<option th:each = "prod : ${allProducts}"
								th:text = "${prod.prod_id} + ':  ' + ${prod.productType} + ' ' + ${prod.name} + ' ' + ${prod.count}"
								th:value = "${prod.prod_id}">
						</option>
					</select>
					
					<button type = "submit" value = "Submit">Update</button>
				</form>
			</div>
					    			<form th:if="${principal}" th:action="@{/logout}" method="post" >

    <button type="submit" class="btn btn-primary mb-2">Sing out</button>

</form>
<form th:unless="${principal}" th:action="@{/login}" method="post" >

    <button type="submit" class="btn btn-primary mb-2">Sing in</button>

</form>	
		</div>
	</body>
	
</html>