<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Update Product</title>	
	</head>

	<body>
		<div class="container">
		    <div class="page-header">
		        <h1> Update Product </h1>
		    </div>
		    
		    <form action="#" th:action="@{/admin/updateProduct/__${id}__}" th:object="${product}" method="post">
		    	<h3>Product Data</h3>
		    	<table border ="1">
		    		<tr>
		    			<td>
		    				<label th:text ="Name"></label>
		    				<input type ="text" th:name ="name" th:value ="${oldProduct.name}"/>
		    			</td>
		    			
		    			<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> </td>
		    		</tr>
		    		
		    		<tr>
		    			<td>
		    				<label th:text ="Type"></label>
			    			<select th:name="productType" th:value="${oldProduct.productType}">
	                            <option th:each ="type : ${productTypes}"
	                                    th:value ="${type}"
	                                    th:text ="${type}">
	                            </option>
	                        </select>
		    			</td>
		    		</tr>
		    		
		    		<tr>
		    			<td>
		    				<label th:text ="Color"></label>
		    				<input type ="text" th:name = "color"  th:value="${oldProduct.color}"/>
		    			</td>
		    			
		    			<td th:if="${#fields.hasErrors('color')}" th:errors="*{color}"> </td>
		    		</tr>
		    		
		    		<tr>
		    			<td>
		    				<label th:text ="Material"></label>
		    				<input type ="text" th:name = "material"  th:value="${oldProduct.material}"/>
		    			</td>
		    			
		    			<td th:if="${#fields.hasErrors('material')}" th:errors="*{material}"> </td>
		    		</tr>
		    		  
		    		<tr>
		    			<td>
		    				<label th:text ="Description"></label>
		    				<input type ="text" th:name = "description"  th:value="${oldProduct.description}"/>
		    			</td>
		    		</tr>
		    		
		    		<tr>
		    			<td>
		    				<label th:text ="Count"></label>
		    				<input type ="text" th:name ="count" th:value="${oldProduct.count}"/>
		    			</td>
		    			
		    			<td th:if="${#fields.hasErrors('count')}" th:errors="*{count}"> </td>
		    		</tr>
    				    		 
		    	</table>
				<button type ="submit" value ="Submit">Update</button>	
		    </form>
		</div>
	</body>
</html>